body {
  font-family: Arial, sans-serif;
  background-color: beige;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 600px;
  background: darkcyan;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin: auto;
}

select, button {
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  font-size: 16px;
}

button {
  background-color:darkturquoise;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.output {
  margin-top: 20px;
  padding: 15px;
  background-color: beige;
  border: 4px solid #2196f3;
  word-break: break-word;
  font-weight: bold;
}

h1 {
    display: block;
    color: aliceblue;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

label {
    cursor: default;
    color: white;
}